@charset "UTF-8";

*{
    width: auto;
    padding: 0;
    box-sizing: border-box; 
    margin: 0;  
}


header{
    width: 100%;
    position: absolute;
    height: 4.5em;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e2862ba2;
    box-shadow: 1px 2px 4px #46210134;
    padding: 0 10%;  
    z-index: 100000; 
} 

.img_logo{
    width: 100px;
    cursor: pointer;
}
   

nav li{
    visibility: hidden;
    display: inline-block;
    padding: 0px 20px;
    

}
nav li a{
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
}
nav li a:hover{
    color: #1a0d0db7;
    transition:all .5s ease .1s;
}

.imenu{
    
    color: #1a0d0db7;
    cursor: pointer;
   
}

html,body{
    width: 100%;
    height: 2000px;
    background: linear-gradient( to bottom, #ffa32ace, #e69b39ce );
}
/*main{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 50vh; 

}*/
.fundo_destaque{
    position: relative;
    width: 100%;
    height: 940px;
    background-image: url('../img/planofund.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    overflow: hidden;      
}

.dir_table{
    width: 80vw;
    height: 40vh;
    background-color: rgba(138, 80, 29, 0.593);
    position: relative;
    top: -600px;
    right: -30px;
    border-radius: 10px;
    padding: 10px;
    
}